# Ignore node_modules directory
node_modules/

# Ignore the configuration file containing sensitive data
config.js

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db
